:host {
  display: block;
}

button {
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-family, 'Open-Sans');
  font-weight: bold;
  height: 45px;
  user-select: none;
  width: 180px
}

.btn-primary {
  background-color: var(--primary, green);
  border: 1px solid var(--primary, green);
  color: var(--white, white);
}

.btn-primary:hover {
  background-color: var(--primary-120, darkgreen);
  border: 1px solid var(--primary-120, darkgreen);
}

.btn-secondary {
  background-color: var(--secondary, orange);
  border: 1px solid var(--secondary, orange);
  color: var(--white, white);
}

.btn-secondary:hover {
  background-color: var(--secondary-120, darkorange);
  border: 1px solid var(--secondary-120, darkorange);
}
