:Host {
  align-items: center;
  display: flex;
}

input {
  cursor: pointer;
  height: 20px;
  margin: 20px 5px;
  width: 20px;
}

label {
  color: var(--dark, black);
  font-size: 16px;
  font-weight: bold;
}
